body{
    /* background-color: black; */
}
.signbtn{
    height: 2.5rem;
    width: 298px;
    font-size: 1rem;
    border: 0;
    color: #000000;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: 500;
    border: 1px rgb(196, 191, 191) solid;
}
.signbtn:hover{
          background-color: rgba(224, 219, 219, 0.712);
          
}
.img1{
    height: 20px;
    margin-right: 5px;
}
