.heading{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 3vh;
}
.image{
  max-width: 30rem;
  max-height: 30rem;
  aspect-ratio: 3/2;
  border-radius: 20px;
  /* object-fit: cover; */
}
.ImageWrapper{
    padding: 0rem 3rem;
    border: 1px rgb(189, 184, 184) solid;
    width: 29.9rem;
}
.bottomSection{
    display: flex;
    justify-content: space-evenly
}
.img{
    height: 50px;
    width: 50px;
    padding: 0rem 1rem;
    /* margin-top: 0.8rem; */
}
